.App {
  text-align: center;
  margin-top: 3rem;
}

.button-row {
  display: flex;
  width: 450px;
  margin: 0 auto;
}

.button-row button.field-button {
  flex: 1 1 0;
  height: 150px;
  background: transparent;
  border: 3px solid #222222;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 3rem;
}

.button-row button.empty {
  cursor: pointer;
}

.fa-circle-o {
  color: red;
}

.fa-close {
  color: blue;
}

.button-row:first-of-type button.field-button {
  border-top: none;
}
.button-row:last-of-type button.field-button {
  border-bottom: none;
}
.button-row button.field-button:first-of-type {
  border-left: none;
}
.button-row button.field-button:last-of-type {
  border-right: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
